<div class="bgtop">
  <a href="#"><img src="<%= asset_url('hamburger.png') %>" class="hamburger" border="0" alt="" title="" /></a>
  <a href="#"><img src="<%= asset_url('envelope.png') %>" class="envelope" border="0" alt="" title="" /></a>
</div>

<div id="login-bg" ng-hide="['en_route', 'in_progress'].indexOf(workOrder.status) != -1">&nbsp;</div>

<div id="map">
  <work-order-map-canvas element-id="work_order_<%= @work_order && @work_order.id %>" work-order="<%= @work_order_json %>"></work-order-map-canvas>
</div>

<div id="login-area" ng-hide="['en_route', 'in_progress'].indexOf(workOrder.status) != -1">
  <div id="login-left">
    <img src="<%= asset_url('unicorn-icon-nav.png') %>" alt="" title="" border="0" width="100"><br>
    <span class="login-welcome">WELCOME</span><br>
    <span class="login-track">TRACK YOUR DELIVERY</span>
  </div>

  <div id="login-center">
    <div>&nbsp;</div>
  </div>

  <div id="login-right">
    <div ng-hide="!facebookUserId">
      <div class="pull-left delivery-eta">
        <h4><strong><%= @work_order.customer.contact.first_name rescue nil %></strong>, your delivery is <%= @work_order.scheduled_start_at.to_datetime.strftime('%A, %B %d at %I:%M') + @work_order.scheduled_start_at.to_datetime.strftime('%p').downcase rescue nil%></h4>
      </div>

      <div class="pull-right delivery-status">
        <h4><strong><%= @work_order.status rescue nil %></strong></h4>
      </div>
    </div>

    <div ng-hide="facebookUserId">
      <div class="pull-left fb-login-button" data-max-rows="" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" data-scope="email" onlogin="window.fbLoginChangedTimestamp = new Date()" ></div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
    <%= javascript_include_tag :provide %>
    <script type="text/javascript">
        (function() {
            angular.module('unicornApp.values')
                    .constant('baseUrl', '<%= Settings.app.url %>');
        })();

        (function() {
            angular.module('unicornApp.values')
                    .constant('defaultCompanyId', <%= (current_user && current_user.default_company_id) || 'void 0' %>);
        })();

        (function() {
            angular.module('unicornApp.values')
                    .constant('facebookAppId', <%= (@work_order && @work_order.company && @work_order.company.facebook_app_id) || 'void 0' %>);
        })();

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
<% end %>
