<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="msapplication-config" content="none" />
  <title><%= Settings.app.name %></title>
  <%= stylesheet_link_tag stylesheet_name, media: 'all' %>
  <%= stylesheet_link_tag 'customer', media: 'all' %>
  <%= stylesheet_link_tag 'no-animations', media: 'all' if Rails.env.test? %>
  <%= favicon_link_tag 'favicon/favicon-32x32.png', rel: 'icon', type: 'image/png' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100italic,100,300italic,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-app="<%= angular_app_name %>" ng-controller="<%= angular_controller %>" class="<%= body_class_name %>">

<%= yield %>

<%= render 'analytics' %>

<%= javascript_include_tag :application %>
<script type="application/javascript">
    (function() {
        angular.module('ui.provide').value('flash', angular.fromJson(<%= flash_json %>));
    })();
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.config.google_maps_api_key %>"></script>
<%= yield :scripts %>
</body>
</html>
